# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# Flask
instance/

# User uploads
uploads/

# Databases
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# Editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
